block variables
doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content='width=device-width, initial-scale=1.0')

    base(href="/")

    title Boilerplate 
    
    meta(name="description" content="Boilerplate for front")

    link(rel="stylesheet", href="main.css")
    script(type='module' src='main.js')
    
    body
      include ./partials/navigation

      .content#content(data-template=template)
        block content 